* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.main-blogs {
    padding: 0 1.5rem;
}

.blog-heading {
    color: #3f3f3f;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.ui-blogpost {
    background-color: white;
    height: fit-content;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 1.5rem;
    margin-top: 1rem;
}

.ui-blogpost-heading {
    color: #3f3f3f;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 0.8rem;
}

.ui-blogpost-head {
    margin-bottom: 1rem;
}

.blogpost-article {
    line-height: 1.5rem;
    color: #333333;
}

.timesource {
    font-size: larger;
    font-family: sans-serif;
    color: #8695A4;
}

.timesource time {
    color: #333333;
}

.footer01 {
    background-color: white;
}