*, ::after, ::before, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
}

.main {

}



/* Navigation Styling */
nav {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all .5s;
}

nav.hide {
  height: fit-content;
}

nav .nav-list {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

nav .show {
  display: flex;
}

nav .nav-item {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  flex-grow: 1;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-item a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
  transition: all 0.5s;
}

nav .nav-item:hover {
  cursor: pointer;
}

nav .nav-item:hover a {
  text-decoration: underline;
  font-size: 3.0rem;
  font-weight: bold;
}

nav #menu-button {
  /* background-color: aqua; */
  align-self: flex-end;
  margin: 1rem;
}

nav #menu-button:hover {
  cursor: pointer;
}

/* Hero Section */
.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.image-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-box > img  {
  height: 250px;
}

.my-profile {
  text-align: center;
  font-weight: 900;
  font-size: xx-large;
  margin-bottom: 20px;
}
.my-profile>p {
  font-family: sans-serif;
}
.brief {
  padding: 0 1rem;
  text-align: center;
  margin-bottom: 20px;
}
.resume-button {
  background-color: tomato;
  padding: 0.6rem 2rem;
  margin: 20px;
  border: 1px solid tomato;
  border-radius: 0.2rem;
}
.resume-button>a {
  text-decoration: none;
  margin: 7px;
  color: aliceblue;
  font-size: large;
}

/* Blog Section */
.blog {
  background-color: #EDF7FA;
  padding: 1rem 0.5rem;
}

.blog h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1rem;
}

.post-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.post-header {
  margin-bottom: 1rem;
}

.post-title {
  margin-bottom: 0.6rem;
}

.post-content p {
  line-height: 1.5;
}

/* Featured Projects */

.featured-projects {
  background-color: #fff;
  padding: 1rem 0.5rem;
}

.featured-projects > h3 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 1rem;
}

.project-card {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #E0E0E0;
}

.project-image img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.project-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.project-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-meta > .project-date, .project-meta > .project-tags  {
  background-color: #142850;
  color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.project-meta > .project-tags {
  margin-right: 0.5rem;
  margin-right: 0.5rem;
  background-color: #90a4ca;
  white-space: nowrap;
}