* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
     background-color: beige;
}
.flex-purpose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-meta {
    width: 80vw;
    border-radius: 1rem;
    background: linear-gradient(180deg, #eaf7f7 60%, #ffffffdc 60%);
    /*personal note: the % function as color stops */ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ad-container article {
    text-align: center;
}
.ad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.information-card {
    display: flex;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: 60vw;
}
.contact-info {
    width: 13rem;
    height: 17rem;
    background: radial-gradient(#007A6E, #b8e4e2);
    border-radius: 1rem;
    padding: 1.5rem;
    line-height: 1.5rem;
    color: #eaf7f7;
    font-size: x-small;
}
.contact-info li {
    list-style: none;
    margin-bottom: 1.5rem;
}
input {
    display: block;
    border-style: none;
    outline: none;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
}
