* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.project-content {
    padding: 0 1rem;
}
.project-title h1, .project-title h2 {
    font-weight: 900;
    font-size: 2.1rem;
    color: #131212ef;
    margin-bottom: 1rem;
}

#project-year {
    background-color: #ee6414ef;
    color: #dad5d5f6;
    padding: 5px 20px;
    border-radius: 50px;
    height: fit-content;
    font-weight: 900;
}
#project-tag {
    font-size: 1.2rem;
}
.project-meta {
    display: flex;
}
.project-article {
    padding: 1rem 0;
    line-height: 1.5;
}
.project-pix {
    padding-bottom: 20px;
}
.project-card h3 {
    margin-top: 1rem;
}