* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.details-page {
    margin: 5px 30px;
}
.dashboard-title-box h1 {
    font-weight: 900;
    font-size: 2.1rem;
    color: #131212ef;
    margin-bottom: 20px;
}
.dashboard-title-box {
    padding-bottom: 20px;
}
#design-year {
    background-color: #ee6414ef;
    color: #dad5d5f6;
    padding: 5px 20px;
    border-radius: 50px;
    height: fit-content;
    font-weight: 900;
}
#design-note {
    font-size: 1.2rem;
}
.sub-dashboard {
    display: flex;
}
.dashboard-article {
    padding-bottom: 20px;
    line-height: 1.5;
}
.dashboard-pix {
    padding-bottom: 20px;
}
.design2-details>h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.design2-details>p {
    line-height: 1.5;
    padding-bottom: 20px;
}
.design2-pix {
    margin-bottom: 20px;
}
.order-pix-box {
    margin-bottom: 30px;
}